.viewbook-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  /* position: fixed; */
  gap: 2%;
  /* background-image: url("https://img.freepik.com/free-vector/gradient-abstract-wireframe-background_23-2149009903.jpg"); */
  background-size: cover;
  background-repeat: no-repeat;
}

.viewbook-container {
  /* flex: 1; */
  padding: 10px;
  overflow-y: auto;
  margin-top: 30px;
    background: #fcf8f8;
width:78%;
height: 86%;
  border-radius: 10px;
    box-shadow: 0 4px 15px blue;
  
}

.viewbook-heading {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #0a0a0a;
  /* text-shadow: 1px 1px 3px #000; */
 
}

.viewbook-search {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 15px;
  width: 100%;
}

.search-input {
  padding: 8px 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 300px;
  transition: border-color 0.3s;
}

.search-input:focus {
  border-color: #007bff;
  outline: none;
}

.clear-search {
  background: transparent;
  border: none;
  font-size: 18px;
  margin-left: -30px;
  cursor: pointer;
  color: #888;
}

.book-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  color: rgb(17, 14, 14);
}

.book-table th,
.book-table td {
  padding: 12px;
  border: 1px solid #ccc;
  text-align: center;
  font-size: 14px;
}

.book-table th {
  background-color:#ff6600;
  color: #fff;
}

.no-data {
  text-align: center;
  color: #ffcccc;
  font-size: 16px;
  font-weight: bold;
}

.btn-action {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  transition: transform 0.2s;
  text-decoration: none;
}

.btn-action:hover {
  transform: scale(1.2);
}

.btn-delete {
  color: red;
}

.btn-edit {
  color: green;
}

.loading-text {
  text-align: center;
  color: #fff;
  font-size: 18px;
}

.pagination-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.pagination-container button {
  padding: 6px 12px;
  border: 1px solid #ccc;
  background-color: white;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.pagination-container button:hover {
  background-color:#ff6600;
  color: white;
}

.pagination-container .active {
  background-color: #ff6600;
  color: white;
  /* border-color: #007bff; */
}

.message-box {
  text-align: center;
  margin: 20px auto;
  max-width: 400px;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 600;
}

.message-box.success {
  color: green;
}

.message-box.error {
  color: #ff4444;
}
