.category-main {
  width: 100vw;
  height: 100vh;
  /* background-image: url("https://img.freepik.com/free-vector/gradient-abstract-wireframe-background_23-2149009903.jpg?semt=ais_hybrid&w=740"); */
  /* background-size: cover;
  background-repeat: no-repeat; */
  display: flex;
  gap: 25%;
  /* position: fixed; */
}

.category-container {
  /* flex-grow: 1; */
  padding: 10px;
  display: flex;
  width:70%;
  flex-direction: column;
  align-items: center;
  height:82%;
  margin-top: 50px;
  background: #fcf8f8;
  border-radius: 10px;
  box-shadow: 0 4px 15px blue;
  /* gap: 15px; */
}

.category-title {
  text-align: center;
  margin-bottom: 20px;
  color: #070606;
  font-size: 30px;
}

.text-center {
  text-align: center;
  color: #131111;
}

.category-table {
  width: 80%;
  max-width: 900px;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.category-table th,
.category-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  color: rgb(17, 14, 14);
}

.category-table th {
  background-color: #ff6600;
  color: #faf8f8;
}

.link-button {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
}

.link-button:hover {
  color: red;
}

.search-bar2 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 15px;
  width: 80%;
}

.search-input {
  padding: 8px 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 100%;
  transition: border-color 0.3s;
}

.search-input:focus {
  border-color: orange;
  outline: none;
}

.clear-search {
  background: transparent;
  border: none;
  font-size: 18px;
  margin-left: -30px;
  cursor: pointer;
  color: #fff;
}

/* Pagination inside container */
.pagination-boxed1 {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.pagination-boxed1 button{
  padding: 6px 12px;
  border: 1px solid #ccc;
  background-color: white;
  cursor: pointer;
  border-radius: 4px;
  color: black;
}

.pagination-boxed1 button:hover {
  background-color: #ff6600;
}

.pagination-boxed1 .active {
  background-color: #ff6600;
  color: rgb(8, 8, 8);
  border-color:#ff6600;
}

/* Messages */
.custom-message {
  font-size: 14px;
  margin-top: 15px;
  padding: 8px 12px;
  border-radius: 5px;
  width: 80%;
  text-align: center;
}

.custom-message.success {
  /* background-color: rgba(0, 128, 0, 0.2); */
  color: green;
  /* border: 1px solid green; */
}

.custom-message.error {
  background-color: rgba(255, 0, 0, 0.2);
  color: red;
  border: 1px solid red;
}

/* Responsive */
@media (max-width: 700px) {
  .category-container {
    width: 95%;
    padding: 20px;
  }

  .category-table {
    width: 100%;
  }

  .search-bar2 {
    width: 100%;
  }

  .pagination-boxed {
    flex-wrap: wrap;
    gap: 5px;
  }
}
