.box {
  width: 100%;
  max-width: 1400px;
  /* margin: 100px auto; */
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  box-sizing: border-box;
}
.heading123{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.box1 {
  flex: 1 1 380px;
  background-color: #ffffff;
  padding: 25px;
  border-radius: 12px;
   border:2px solid #0bb6c9;  
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
  /* transition: transform 0.4s ease, box-shadow 0.4s ease; */
  opacity: 0;
  transform: translateY(30px);
  animation: fadeInUp 0.8s forwards;
}

.box1:nth-child(1) {
  animation-delay: 0.3s;
}
.box1:nth-child(2) {
  animation-delay: 0.6s;
}
.box1:nth-child(3) {
  animation-delay: 0.9s;
}

.box1:hover {
  transform: scale(1.05) translateY(-10px);
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  background-color: rgb(201, 238, 252);
}

.box1 h2 {
  color: #0b3ec9;  ;
  font-size: 22px;
  margin-bottom: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.box1 p {
  font-size: 16px;
  color: #444;
  line-height: 1.6;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.mission-section {
  margin: 50px auto 30px auto;
  max-width: 900px;
  background-color:#ffffff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  text-align: center;
  border: 2px solid  #0bb6c9;
  /* animation: fadeInUp 0.6s ease forwards; */
}

.mission-section h2 {
  color:#0bb6c9;
  margin-bottom: 12px;
  font-size: 26px;
}

.mission-section p {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  font-family: 'Segoe UI', sans-serif;
}

/* Footer */
.footer2 {
  /* background-color: #0b3d91;
  color: #fff; */
  padding: 20px 15px;
  text-align: center;
  font-size: 14px;
  /* font-family: 'Segoe UI', sans-serif; */
  margin-top: 50px;
  /* border-top: 3px solid #ff6600; */
  border:2px solid #0bb6c9;
}


@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive */
@media (max-width: 768px) {
  .box {
    flex-direction: column;
    align-items: center;
  }

  .box1 {
    width: 90%;
  }
}